Repository damlys/gorun: changes, and which Bitbucket steps are due for each by the changed paths.
All: test docker-images/devcontainer, test docker-images/go-rte, test docker-images/go-sdk, test docker-images/kuard, test helm-charts/kuard, test terraform-submodules/gcp-availability-monitor, test terraform-submodules/gcp-docker-images-registry, test terraform-submodules/gcp-helm-charts-registry, test terraform-submodules/gcp-project, test terraform-submodules/gcp-terraform-modules-registry, test terraform-submodules/gcp-terraform-state-bucket, test terraform-submodules/gke-platform, test terraform-submodules/gke-service-account, test terraform-submodules/helm-release, test terraform-submodules/kuard, validate terraform-modules/kuard, validate terraform-modules/main, validate terraform-modules/prod, validate terraform-modules/test, plan terraform-modules/kuard, plan terraform-modules/main, plan terraform-modules/prod, plan terraform-modules/test, publish docker-images/devcontainer, publish docker-images/go-rte, publish docker-images/go-sdk, publish docker-images/kuard, publish helm-charts/kuard, publish terraform-submodules/gcp-availability-monitor, publish terraform-submodules/gcp-docker-images-registry, publish terraform-submodules/gcp-helm-charts-registry, publish terraform-submodules/gcp-project, publish terraform-submodules/gcp-terraform-modules-registry, publish terraform-submodules/gcp-terraform-state-bucket, publish terraform-submodules/gke-platform, publish terraform-submodules/gke-service-account, publish terraform-submodules/helm-release, publish terraform-submodules/kuard, apply terraform-modules/kuard, apply terraform-modules/main, apply terraform-modules/prod, apply terraform-modules/test

Path conditions:
  test docker-images/devcontainer: any of: docker-images/devcontainer/**
  test docker-images/go-rte: any of: docker-images/go-rte/**
  test docker-images/go-sdk: any of: docker-images/go-sdk/**
  test docker-images/kuard: any of: docker-images/kuard/**
  test helm-charts/kuard: any of: helm-charts/kuard/**
  test terraform-submodules/gcp-availability-monitor: any of: terraform-submodules/gcp-availability-monitor/**
  test terraform-submodules/gcp-docker-images-registry: any of: terraform-submodules/gcp-docker-images-registry/**
  test terraform-submodules/gcp-helm-charts-registry: any of: terraform-submodules/gcp-helm-charts-registry/**
  test terraform-submodules/gcp-project: any of: terraform-submodules/gcp-project/**
  test terraform-submodules/gcp-terraform-modules-registry: any of: terraform-submodules/gcp-terraform-modules-registry/**
  test terraform-submodules/gcp-terraform-state-bucket: any of: terraform-submodules/gcp-terraform-state-bucket/**
  test terraform-submodules/gke-platform: any of: terraform-submodules/gke-platform/**
  test terraform-submodules/gke-service-account: any of: terraform-submodules/gke-service-account/**
  test terraform-submodules/helm-release: any of: terraform-submodules/helm-release/**
  test terraform-submodules/kuard: any of: terraform-submodules/kuard/**
  validate terraform-modules/kuard: any of: terraform-modules/kuard/**
  validate terraform-modules/main: any of: terraform-modules/main/**
  validate terraform-modules/prod: any of: terraform-modules/prod/**
  validate terraform-modules/test: any of: terraform-modules/test/**
  plan terraform-modules/kuard: any of: terraform-modules/kuard/**
  plan terraform-modules/main: any of: terraform-modules/main/**
  plan terraform-modules/prod: any of: terraform-modules/prod/**
  plan terraform-modules/test: any of: terraform-modules/test/**
  publish docker-images/devcontainer: any of: docker-images/devcontainer/**
  publish docker-images/go-rte: any of: docker-images/go-rte/**
  publish docker-images/go-sdk: any of: docker-images/go-sdk/**
  publish docker-images/kuard: any of: docker-images/kuard/**
  publish helm-charts/kuard: any of: helm-charts/kuard/**
  publish terraform-submodules/gcp-availability-monitor: any of: terraform-submodules/gcp-availability-monitor/**
  publish terraform-submodules/gcp-docker-images-registry: any of: terraform-submodules/gcp-docker-images-registry/**
  publish terraform-submodules/gcp-helm-charts-registry: any of: terraform-submodules/gcp-helm-charts-registry/**
  publish terraform-submodules/gcp-project: any of: terraform-submodules/gcp-project/**
  publish terraform-submodules/gcp-terraform-modules-registry: any of: terraform-submodules/gcp-terraform-modules-registry/**
  publish terraform-submodules/gcp-terraform-state-bucket: any of: terraform-submodules/gcp-terraform-state-bucket/**
  publish terraform-submodules/gke-platform: any of: terraform-submodules/gke-platform/**
  publish terraform-submodules/gke-service-account: any of: terraform-submodules/gke-service-account/**
  publish terraform-submodules/helm-release: any of: terraform-submodules/helm-release/**
  publish terraform-submodules/kuard: any of: terraform-submodules/kuard/**
  apply terraform-modules/kuard: any of: terraform-modules/kuard/**
  apply terraform-modules/main: any of: terraform-modules/main/**
  apply terraform-modules/prod: any of: terraform-modules/prod/**
  apply terraform-modules/test: any of: terraform-modules/test/**

spec
  terraform-modules/test-monitor/assets/opentelemetry_operator.yaml
  terraform-modules/test-monitor/main.tf
  terraform-modules/test-monitor/role.opentelemetry_collector.tf
  terraform-modules/test-monitor/role.opentelemetry_targetallocator.tf
  terraform-submodules/gke-lgtm-stack/assets/mimir/values.yaml.tftpl
  terraform-submodules/gke-lgtm-stack/main.grafana.tf
  terraform-submodules/gke-lgtm-stack/main.loki.tf
  terraform-submodules/gke-lgtm-stack/main.mimir.tf
  terraform-submodules/gke-lgtm-stack/main.tempo.tf
  terraform-submodules/k8s-otel-collectors/assets/apps_config.yaml
  terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/assets/config.apps.yaml
  terraform-submodules/k8s-otel-collectors/assets/config.cluster.yaml
  terraform-submodules/k8s-otel-collectors/assets/config.node.yaml
  terraform-submodules/k8s-otel-collectors/assets/config.prometheus.yaml
  terraform-submodules/k8s-otel-collectors/assets/config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/assets/logs_config.yaml
  terraform-submodules/k8s-otel-collectors/assets/otelcol/otelcol_prometheus_config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/assets/prom_config.yaml
  terraform-submodules/k8s-otel-collectors/debug/.gitignore
  terraform-submodules/k8s-otel-collectors/debug/debug.tf
  terraform-submodules/k8s-otel-collectors/debug/debug2.clusterMetrics.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.hostMetrics.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.kubeletMetrics.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.kubernetesEvents.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.logsCollection.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.tf
  terraform-submodules/k8s-otel-collectors/locals.tf
  terraform-submodules/k8s-otel-collectors/main.tf
Due: none

no env
  terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/locals.tf
  terraform-submodules/k8s-otel-collectors/main.tf
Due: none

scale
  terraform-submodules/gke-lgtm-stack/assets/grafana/scale.yaml
  terraform-submodules/gke-lgtm-stack/assets/loki/scale.yaml
  terraform-submodules/gke-lgtm-stack/assets/mimir/scale.yaml
  terraform-submodules/gke-lgtm-stack/assets/tempo/scale.yaml
  terraform-submodules/gke-lgtm-stack/scripts/scale
Due: none

config
  kubernetes-manifests/microservices-demo/base/raw.yaml
  terraform-modules/test-monitor/outputs.tf
  terraform-submodules/gke-lgtm-stack/assets/mimir/values.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/main.tf
  terraform-submodules/k8s-otel-collectors/outputs.tf
Due: none

x
  .vscode/settings.json
  helm-charts/kuard/templates/_helpers.tpl
  helm-charts/kuard/templates/http-server.deploy.yaml
  helm-charts/kuard/values.yaml
  kubernetes-manifests/microservices-demo/base/raw.yaml
  terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/assets/apps_config.yaml
  terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/assets/logs_config.yaml
  terraform-submodules/k8s-otel-collectors/assets/prom_config.yaml
  terraform-submodules/k8s-otel-collectors/main.tf
  terraform-submodules/kuard/assets/values.yaml.tftpl
Due: test helm-charts/kuard, test terraform-submodules/kuard, publish helm-charts/kuard, publish terraform-submodules/kuard

x
  kubernetes-manifests/microservices-demo/base/raw.yaml
  terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/assets/logs_config.yaml
  terraform-submodules/k8s-otel-collectors/assets/otlp_config.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug.tf
  terraform-submodules/k8s-otel-collectors/locals.tf
  terraform-submodules/k8s-otel-collectors/main.tf
  terraform-submodules/k8s-otel-collectors/outputs.tf
  terraform-submodules/kuard/assets/values.yaml.tftpl
Due: test terraform-submodules/kuard, publish terraform-submodules/kuard

x
  terraform-submodules/k8s-otel-collectors/assets/file_config.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug.tf
  terraform-submodules/k8s-otel-collectors/locals.tf
  terraform-submodules/k8s-otel-collectors/main.tf
Due: none

x
  docker-images/devcontainer/CHANGELOG.md
  helm-charts/kuard/CHANGELOG.md
  terraform-modules/kuard/main.tf
  terraform-modules/main/main.tf
  terraform-modules/test-monitor/main.tf
  terraform-modules/test/main.tf
  terraform-submodules/gcp-project/.project.yaml
  terraform-submodules/gcp-project/CHANGELOG.md
  terraform-submodules/gcp-project/variables.tf
  terraform-submodules/gke-lgtm-stack/.project.yaml
  terraform-submodules/gke-lgtm-stack/CHANGELOG.md
  terraform-submodules/gke-platform/CHANGELOG.md
  terraform-submodules/gke-platform/main.tf
  terraform-submodules/k8s-otel-collectors/.project.yaml
  terraform-submodules/k8s-otel-collectors/CHANGELOG.md
  terraform-submodules/kuard/CHANGELOG.md
  terraform-submodules/kuard/main.tf
Due: test docker-images/devcontainer, test helm-charts/kuard, test terraform-submodules/gcp-project, test terraform-submodules/gke-platform, test terraform-submodules/kuard, validate terraform-modules/kuard, validate terraform-modules/main, validate terraform-modules/test, plan terraform-modules/kuard, plan terraform-modules/main, plan terraform-modules/test, publish docker-images/devcontainer, publish helm-charts/kuard, publish terraform-submodules/gcp-project, publish terraform-submodules/gke-platform, publish terraform-submodules/kuard, apply terraform-modules/kuard, apply terraform-modules/main, apply terraform-modules/test

x
  terraform-modules/test-monitor/assets/istio_telemetry_default.yaml
  terraform-modules/test-monitor/assets/istiod.yaml.tftpl
  terraform-modules/test-monitor/main.tf
  terraform-modules/test-monitor/plartform.main.tf
  terraform-modules/test-monitor/plartform.role.opentelemetry_collector.tf
  terraform-modules/test-monitor/plartform.role.opentelemetry_targetallocator.tf
  terraform-submodules/gke-lgtm-stack/main.tf
  terraform-submodules/k8s-otel-collectors/debug/debug2.tf
Due: none

x
  kubernetes-manifests/microservices-demo/README.md
  kubernetes-manifests/microservices-demo/base/kustomization.yaml
  kubernetes-manifests/microservices-demo/base/raw.yaml
  kubernetes-manifests/microservices-demo/overlays/test/gateway.yaml
  kubernetes-manifests/microservices-demo/overlays/test/kustomization.yaml
  kubernetes-manifests/microservices-demo/overlays/test/namespace.yaml
  terraform-submodules/gke-lgtm-stack/debug/.gitignore
  terraform-submodules/gke-lgtm-stack/debug/debug.tf
  terraform-submodules/gke-lgtm-stack/main.tf
  terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/assets/file_config.yaml
  terraform-submodules/k8s-otel-collectors/assets/otlp_config.yaml
  terraform-submodules/k8s-otel-collectors/assets/prom_config.yaml
  terraform-submodules/k8s-otel-collectors/debug/.gitignore
  terraform-submodules/k8s-otel-collectors/debug/debug.tf
  terraform-submodules/k8s-otel-collectors/debug/debug2.clusterMetrics.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.hostMetrics.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.kubeletMetrics.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.kubernetesEvents.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.logsCollection.values.yaml
  terraform-submodules/k8s-otel-collectors/debug/debug2.tf
Due: none

x
  terraform-modules/test-monitor/main.tf
  terraform-submodules/gke-lgtm-stack/locals.tf
  third_party/helm/Chart.lock
  third_party/helm/Chart.yaml
Due: none

x
  terraform-modules/test-monitor/assets/istio_telemetry_default.yaml
  terraform-modules/test-monitor/assets/istio_telemetry_mesh_default.yaml
  terraform-modules/test-monitor/assets/istiod.yaml.tftpl
  terraform-modules/test-monitor/main.tf
  terraform-submodules/gke-lgtm-stack/assets/mimir/values.yaml.tftpl
  terraform-submodules/gke-lgtm-stack/outputs.tf
  terraform-submodules/k8s-otel-collectors/assets/common_config.yaml.tftpl
  terraform-submodules/k8s-otel-collectors/main.tf
  terraform-submodules/k8s-otel-collectors/outputs.tf
  terraform-submodules/k8s-otel-collectors/variables.tf
  terraform-submodules/kuard/main.tf
Due: test terraform-submodules/kuard, publish terraform-submodules/kuard

feature: iap
  helm-charts/kuard/templates/http-server.deploy.yaml
  terraform-modules/test-monitor/.terraform.lock.hcl
Due: test helm-charts/kuard, publish helm-charts/kuard

x
  .github/workflow.yaml.gotmpl
  .github/workflows/docker-images-devcontainer.gotmpl.yaml
  .github/workflows/docker-images-go-rte.gotmpl.yaml
  .github/workflows/docker-images-go-sdk.gotmpl.yaml
  .github/workflows/docker-images-kuard.gotmpl.yaml
  .github/workflows/helm-charts-kuard.gotmpl.yaml
  .github/workflows/terraform-modules-kuard.gotmpl.yaml
  .github/workflows/terraform-modules-main.gotmpl.yaml
  .github/workflows/terraform-modules-prod.gotmpl.yaml
  .github/workflows/terraform-modules-test-monitor.gotmpl.yaml
  .github/workflows/terraform-modules-test.gotmpl.yaml
  .github/workflows/terraform-submodules-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/terraform-submodules-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/terraform-submodules-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/terraform-submodules-gcp-project.gotmpl.yaml
  .github/workflows/terraform-submodules-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/terraform-submodules-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/terraform-submodules-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/terraform-submodules-gke-platform.gotmpl.yaml
  .github/workflows/terraform-submodules-gke-service-account.gotmpl.yaml
  .github/workflows/terraform-submodules-helm-release.gotmpl.yaml
  .github/workflows/terraform-submodules-k8s-otel-collectors.gotmpl.yaml
  .github/workflows/terraform-submodules-kuard.gotmpl.yaml
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
Due: none

x
  .github/workflows/terraform-submodules-gke-gateway.gotmpl.yaml
  bitbucket-pipelines.yml
  terraform-modules/kuard/main.tf
  terraform-modules/main/main.tf
  terraform-modules/test-monitor/main.tf
  terraform-modules/test/main.tf
  terraform-submodules/gcp-project/variables.tf
  terraform-submodules/gke-gateway/.project.yaml
  terraform-submodules/gke-gateway/CHANGELOG.md
  terraform-submodules/gke-gateway/README.md
  terraform-submodules/gke-gateway/locals.tf
  terraform-submodules/gke-gateway/main.tf
  terraform-submodules/gke-gateway/outputs.tf
  terraform-submodules/gke-gateway/terraform.tf
  terraform-submodules/gke-gateway/variables.tf
  terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  terraform-submodules/gke-lgtm-stack/main.tf
  terraform-submodules/gke-platform/main.tf
  terraform-submodules/kuard/main.tf
Due: test terraform-submodules/gcp-project, test terraform-submodules/gke-platform, test terraform-submodules/kuard, validate terraform-modules/kuard, validate terraform-modules/main, validate terraform-modules/test, plan terraform-modules/kuard, plan terraform-modules/main, plan terraform-modules/test, publish terraform-submodules/gcp-project, publish terraform-submodules/gke-platform, publish terraform-submodules/kuard, apply terraform-modules/kuard, apply terraform-modules/main, apply terraform-modules/test

x
  terraform-modules/test-monitor/assets/istiod.yaml.tftpl
  terraform-submodules/gke-gateway-route/.project.yaml
  terraform-submodules/gke-gateway-route/CHANGELOG.md
  terraform-submodules/gke-gateway-route/README.md
  terraform-submodules/gke-gateway-route/main.tf
  terraform-submodules/gke-gateway-route/terraform.tf
  terraform-submodules/gke-gateway-route/variables.tf
  terraform-submodules/gke-gateway/.project.yaml
  terraform-submodules/gke-gateway/locals.tf
  terraform-submodules/gke-gateway/main.tf
  terraform-submodules/gke-gateway/outputs.tf
  terraform-submodules/gke-gateway/variables.tf
  terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  terraform-submodules/gke-lgtm-stack/main.tf
  terraform-submodules/kuard/main.tf
Due: test terraform-submodules/kuard, publish terraform-submodules/kuard

x
  .github/workflows/terraform-submodules-gke-gateway-route.gotmpl.yaml
  .github/workflows/terraform-submodules-gke-gateway.gotmpl.yaml
  bitbucket-pipelines.yml
  terraform-submodules/gke-gateway-route/main.tf
  terraform-submodules/gke-gateway-route/variables.tf
  terraform-submodules/gke-platform/main.tf
  terraform-submodules/helm-release/main.tf
  terraform-submodules/kuard/main.tf
Due: test terraform-submodules/gke-platform, test terraform-submodules/helm-release, test terraform-submodules/kuard, publish terraform-submodules/gke-platform, publish terraform-submodules/helm-release, publish terraform-submodules/kuard

x
  terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  terraform-submodules/gke-lgtm-stack/main.tf
Due: none

iap-service-account
  docs/iap/iap-service-account/.gitignore
  docs/iap/iap-service-account/curl.bash
  docs/iap/iap-service-account/iap-service-account.md
  docs/iap/iap-service-account/terraform.tf
  docs/iap/iap.md
Due: none

iap-user-account
  docs/iap/iap-service-account/curl.bash
  docs/iap/iap-user-account/iap-user-account.md
Due: none

iap-user-account
  docs/iap/iap-user-account/iap-user-account.md
Due: none

x
  terraform-modules/test-grafana/.project.yaml
  terraform-modules/test-grafana/.terraform.lock.hcl
  terraform-modules/test-grafana/README.md
  terraform-modules/test-grafana/debug.tf
  terraform-modules/test-grafana/locals.tf
  terraform-modules/test-grafana/main.tf
  terraform-modules/test-grafana/providers.tf
  terraform-modules/test-grafana/terraform.tf
Due: none

x
  terraform-submodules/gke-lgtm-stack/main.tf
Due: none

x
  terraform-modules/test-grafana/debug.tf
Due: none

x
  .gitignore
  terraform-modules/test-grafana/main.tf
Due: none

iap
  docs/iap/draft/main.tf
  docs/iap/draft/variables.tf
  terraform-submodules/gke-gateway-route/main.tf
  terraform-submodules/gke-lgtm-stack/main.tf
  terraform-submodules/kuard/main.tf
Due: test terraform-submodules/kuard, publish terraform-submodules/kuard

x
  docs/iap/draft/main.tf
  docs/iap/draft/variables.tf
  docs/iap/iap-service-account/.gitignore
  docs/iap/iap-service-account/curl.bash
  docs/iap/iap-service-account/iap-service-account.md
  docs/iap/iap-service-account/terraform.tf
  docs/iap/iap-user-account/iap-user-account.md
  docs/iap/iap.md
  terraform-modules/test-grafana/.project.yaml
  terraform-modules/test-grafana/.terraform.lock.hcl
  terraform-modules/test-grafana/README.md
  terraform-modules/test-grafana/locals.tf
  terraform-modules/test-grafana/main.tf
  terraform-modules/test-grafana/providers.tf
  terraform-modules/test-grafana/terraform.tf
  terraform-submodules/gcp-project/variables.tf
  terraform-submodules/gke-gateway-route/main.tf
  terraform-submodules/gke-gateway-route/variables.tf
  terraform-submodules/gke-lgtm-stack/main.tf
  terraform-submodules/gke-platform/main.tf
  terraform-submodules/kuard/main.tf
Due: test terraform-submodules/gcp-project, test terraform-submodules/gke-platform, test terraform-submodules/kuard, publish terraform-submodules/gcp-project, publish terraform-submodules/gke-platform, publish terraform-submodules/kuard

v
  helm-charts/kuard/CHANGELOG.md
  helm-charts/kuard/Chart.yaml
  terraform-modules/kuard/main.tf
  terraform-modules/main/main.tf
  terraform-modules/test-monitor/main.tf
  terraform-modules/test/main.tf
  terraform-submodules/gke-gateway-route/.project.yaml
  terraform-submodules/gke-gateway-route/CHANGELOG.md
  terraform-submodules/gke-gateway-route/main.tf
  terraform-submodules/gke-lgtm-stack/.project.yaml
  terraform-submodules/gke-lgtm-stack/CHANGELOG.md
  terraform-submodules/gke-lgtm-stack/main.tf
  terraform-submodules/gke-platform/.project.yaml
  terraform-submodules/gke-platform/CHANGELOG.md
  terraform-submodules/helm-release/.project.yaml
  terraform-submodules/helm-release/CHANGELOG.md
  terraform-submodules/kuard/.project.yaml
  terraform-submodules/kuard/CHANGELOG.md
  terraform-submodules/kuard/main.tf
Due: test helm-charts/kuard, test terraform-submodules/gke-platform, test terraform-submodules/helm-release, test terraform-submodules/kuard, validate terraform-modules/kuard, validate terraform-modules/main, validate terraform-modules/test, plan terraform-modules/kuard, plan terraform-modules/main, plan terraform-modules/test, publish helm-charts/kuard, publish terraform-submodules/gke-platform, publish terraform-submodules/helm-release, publish terraform-submodules/kuard, apply terraform-modules/kuard, apply terraform-modules/main, apply terraform-modules/test

x
  terraform-submodules/gke-gateway-route/variables.tf
  terraform-submodules/gke-lgtm-stack/assets/grafana/values.yaml.tftpl
  terraform-submodules/gke-lgtm-stack/main.tf
Due: none

go
  .github/workflow.yaml.gotmpl
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
  go/cmd/render-bitbucket-pipelines/main.go
  go/cmd/render-github-workflows/main.go
  go/internal/monorepo/monorepo.go
Due: none

x
  scopes/kuard/helm-charts/kuard/templates/_helpers.tpl
  scripts/docker-image
  scripts/helm-chart
  scripts/terraform-submodule
Due: none

chore: use relative terraform paths; update devcontainer version; rename kuard namespace
  .devcontainer/devcontainer.json
  .github/workflow.yaml.gotmpl
  .github/workflows/scopes-core-docker-images-devcontainer.gotmpl.yaml
  .github/workflows/scopes-core-docker-images-go-rte.gotmpl.yaml
  .github/workflows/scopes-core-docker-images-go-sdk.gotmpl.yaml
  .github/workflows/scopes-core-terraform-modules-main.gotmpl.yaml
  .github/workflows/scopes-core-terraform-modules-prod.gotmpl.yaml
  .github/workflows/scopes-core-terraform-modules-test.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gcp-docker-images-registry.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gcp-helm-charts-registry.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gcp-project.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gcp-terraform-modules-registry.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gcp-terraform-state-bucket.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gke-gateway-route.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gke-platform.gotmpl.yaml
  .github/workflows/scopes-core-terraform-submodules-gke-service-account.gotmpl.yaml
  .github/workflows/scopes-kuard-docker-images-kuard.gotmpl.yaml
  .github/workflows/scopes-kuard-helm-charts-kuard.gotmpl.yaml
  .github/workflows/scopes-kuard-terraform-modules-kuard.gotmpl.yaml
  .github/workflows/scopes-kuard-terraform-submodules-helm-release.gotmpl.yaml
  .github/workflows/scopes-kuard-terraform-submodules-kuard.gotmpl.yaml
  .github/workflows/scopes-o11y-terraform-modules-test-monitor.gotmpl.yaml
  .github/workflows/scopes-o11y-terraform-submodules-gcp-availability-monitor.gotmpl.yaml
  .github/workflows/scopes-o11y-terraform-submodules-gke-lgtm-stack.gotmpl.yaml
  .github/workflows/scopes-o11y-terraform-submodules-k8s-otel-collectors.gotmpl.yaml
  bitbucket-pipelines.yml
  bitbucket-pipelines.yml.gotmpl
  scopes/core/terraform-modules/main/main.tf
  scopes/core/terraform-modules/test/main.tf
  scopes/kuard/terraform-modules/kuard/main.tf
  scopes/kuard/terraform-submodules/kuard/main.tf
  scopes/o11y/terraform-modules/test-monitor/main.tf
  scopes/o11y/terraform-submodules/gke-lgtm-stack/main.tf
Due: none
